<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% extends 'blog/base_generic_account.html' %}
    <title>Just a blog</title>
</head>
<body>
{% block content %}
    <div class="account-wrap">
        <p>You have logged out</p>
        <a href="{% url 'blog:login' %}">Login again?</a>
    </div>
{% endblock %}
</body>
</html>