<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% extends 'blog/base_generic_account.html' %}
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="account-wrap">
    <h2 class="account-wrap__title">Login page</h2>
    {% if form.error %}
        <p class="account-wrap__form-error"><strong>{{ form.error }}</strong></p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p><strong>You have no rights to view this content</strong></p>
        {% else %}
        <p><strong>You must first log in to view this content.</strong></p>
        {% endif %}
    {% endif %}

        <form action="{% url 'blog:login' %}" method="post" class="account-wrap__form">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="account-wrap__register-link">
            <label for="register">Don't have an account yet?</label>
            <input type="button"
                   id="register"
                   onclick="location.href='{% url 'blog:register' %}'"
                   value="Registration">
        </div>
    </div>
{% endblock %}
</body>
</html>