<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% extends 'blog/base_generic_account.html' %}
    <title>Just a blog</title>
</head>
<body>
{% block content %}
    <div class="account-wrap">
        <div class="account-wrap__desc">
            <h2 class="account-wrap__title">Register to Just a blog platform</h2>
            <p>and here we go</p>
        </div>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form action="{% url 'blog:validate' %}" method="post" class="account-wrap__form">
        {% csrf_token %}
            <div class="form__form-field">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form__form-field">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form__form-field">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <input type="submit" value="Register">
        </form>
        <div class="account-wrap__login-link">
            <label for="login">Already have an account?</label>
            <input type="button"
                   id="login"
                   onclick="location.href='{% url 'blog:login' %}'"
                   value="Go to login"
            >
        </div>
    </div>
{% endblock %}
</body>
</html>