@import 'styles';

.account-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__desc {
    margin-bottom: 30px;
  }

  &__form {
    text-align: right;
    margin-bottom: 30px;

    .form__form-field {
      margin-bottom: 20px;
    }

    td {
      padding-bottom: 15px;
    }
  }

  &__register-link, &__login-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    #register, #login {
      margin-top: 5px;
    }
  }
}

