@import 'detail';
@import 'comment_add_form';
@import 'authors';

* {
    margin: 0;
}

.wrapper{
  display: flex;
  align-items: stretch;
  padding: 20px 0;

    nav.routes {
      display: flex;
      flex-direction: column;
    }

    .auth-info {
      display: flex;
      flex-direction: column;
    }
}