<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/base_generic.html' %}
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1>All bloggers</h1>
    <ul class="author-list">
    {% for user in user_list  %}
        <li><a href="{% url 'blog:author' user.id %}">{{ user.username }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
</body>
</html>