<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% extends 'blog/base_generic.html' %}
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1>Author {{ user.username }} info</h1>
    <p><strong>Biography</strong></p>
    <p>{{ user.profile.bio }}</p>
    <br>
    <p><strong>Latest author blog posts</strong></p>
    <ul>
    {% for post in user.profile.blogpost_set.all|slice:"5" %}
        <li>
            <a href="{% url 'blog:detail' post.id %}">{{ post.name }}</a>
            - ({{ post.pub_date }})
        </li>
    {% endfor %}
    </ul>
{% endblock %}
</body>
</html>