<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% block title %}<title>Just a blog</title>{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load compress static %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'blog/styles/styles.less' %}">
    {% endcompress %}
</head>
<body>
    <div class="wrapper">
        <div class="col-sm-2">
        {% block sidebar %}
            <aside class="sidebar">
                <nav class="routes">
                    <a href="{% url 'blog:index' %}">Home</a>
                    <a href="{% url 'blog:blogs' %}">All blogs</a>
                    <a href="{% url 'blog:authors' %}">All authors</a>
                </nav>
                <br>
                <div class="auth-info">
                {% if user.is_authenticated %}
                    <span class="username">
                        User:
                        {{ user.username }}
                    </span>
                    <a href="{% url 'blog:logout' %}">
                        Выйти из системы.
                    </a>
                {% else %}
                    <span class="username">
                        User:
                         anonymous
                    </span>
                    <a href="{% url 'blog:login' %}">
                        Войти в систему
                    </a>
                {% endif %}
                </div>
            </aside>
        {% endblock %}
        </div>
        <div class="col-sm-10">
        {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>