<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}<title>Just a blog</title>{% endblock %}
{% load compress static %}
{% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'blog/styles/account.less' %}">
{% endcompress %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>