<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="blog_list">
        <h1>All blogs</h1>
        <ul>
        {% for post in ordered_posts %}
            <li>
                <a href="{% url 'blog:detail' post.id %}">{{ post.name }}</a>
                <span>({{ post.pub_date }}) - </span>
                <a href="{% url 'blog:author' post.author.id %}">{{ post.author }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        <span class="link-steps">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 1</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

            <span class="current_page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages }} &raquo;
            </a>
        {% endif %}
        </span>
    </div>

</body>
</html>