<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/base_generic.html' %}
    <title>Title</title>
</head>
<body>
{% block content %}
    <p class="post-name">
        Post your comment for
        <a href="{% url 'blog:detail' blogpost.id %}">{{ blogpost.name }}</a>
    </p>
    <form action="{% url 'blog:add_comment' blogpost.id %}" class="create-comment" method="post">
    {% csrf_token %}
        <div class="create-comment__desc">
            <p class="desc__title"><strong>Description:</strong></p>
            <div class="desc__content">
                <textarea name="comment-text" id="comment-text" cols="40" rows="10" required></textarea>
                <p>Enter your comment about blog here</p>
            </div>
        </div>
        <input type="submit" class="create-comment__submit" value="Submit">
    </form>

{% endblock %}
</body>
</html>