<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/base_generic.html' %}
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="post-info">
        <h1>{{ blogpost.name }}</h1>
        <p><strong>Post date </strong>{{ blogpost.pub_date }}</p>
        <p><strong>Author </strong>{{ blogpost.author }}</p>
        <p><strong>Description</strong></p>
        <br>
        <p>{{ blogpost.content }}</p>
    </div>
        <div class="post-comments">
            <p class="post-comments__title">Comments</p>
        {% for comment in blogpost.comment_set.all %}
            <div class="post-comments__comment">
                {{ comment.author }} ({{ comment.pub_date }}) - {{ comment.comment_text }}
            </div>
        {% endfor %}
            <div class="post-comments__link">
        {% if user.is_authenticated %}
            <a href="{% url 'blog:create_comment' blogpost.id %}"
               class="post-comments__comment">Add a new comment
            </a>
        {% else %}
                <p>You must log in to add a comment</p>
                <a href="{% url 'blog:login' %}"
                   id="login">Login</a>
        {% endif %}
            </div>
        </div>
{% endblock %}
</body>
</html>