<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/base_generic.html' %}
    <title>Home</title>
</head>
<body>
{% if author.is_authenticated %}
{% block content %}
    <h1>Welcome page</h1>
{% endblock  %}
{% endif %}
</body>
</html>